
<body align="center"><br>
    <div class="controls" align="right" >
        <label for="spacing">Spacing: </label>
        <input 
        id="spacing"
        type="range" 
        name="spacing"
        min="0"
        max="100"
        value="0"
        data-sizing="px"
        />

        <label for="bulr">Blur</label>
        <input 
        id="blur"
        type="range"
        name="bulr"
        min="0"
        max="30"
        value="0"
        data-sizing="px"
         />

        <label for="base">Base Color</label>
        <input id="base" name="base" type="color">
    </div>

    <h1>Mystargram</h1>
    <input type="text" name="search"class="search" placeholder="Search Photo" >
    <button type="submit" >Search</button>
    <div class="gallery"></div>
 
    <script src="./index.js"></script>
</body>

